#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes
.idea/misc.xml

#Command line
build.xml
proguard-project.txt

#Mac specific
.DS_Store

#User specific
local.properties

#gradle
build
.gradle
gradle
gradlew
gradlew.bat
signing.properties